<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Equipe Bravo</title>
</head>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/deck.css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Cor da barra do navegador em celulares -->
<meta name="theme-color" content="#4b749d">
<meta name="apple-mobile-web-app-status-bar-style" content="#4b749d">
<meta name="msapplication-navbutton-color" content="#4b749d">

<!-- Icone do site nos navegadores -->
<link rel="icon" type="image/png" href="img/membro1.jpg">
<link rel="apple-touch-icon" sizes="76x76" href="img/membro1.jpg">

<body id="home">
    <br>
    <!-- Icon Bar (Sidenav - hidden on small screens) -->
    <nav id="menu" class="w3-sidenav w3-center w3-small w3-hide-small w3-hide-medium">
        <!-- Avatar image in top left corner -->
        <img src="img/membro2.jpg" style="width:100%">

        <a class="w3-padding-large w3-hover-black" href="deck">
            <i class="fa fa-group w3-xxlarge"></i>
            <p>EQUIPE BRAVO</p>
        </a>
        <a class="w3-padding-large w3-black" href="deck2">
            <i class="fa fa-group w3-xxlarge"></i>
            <p>EQUIPE BRAVO 2</p>
        </a>
        <a class="w3-padding-large w3-hover-black" href="deck3">
            <i class="fa fa-group w3-xxlarge"></i>
            <p>EQUIPE BRAVO 3</p>
        </a>
    </nav>


    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large menu-celular" id="myNavba">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a class="w3-bar-item w3-button" style="width:33%" href="deck">BRAVO</a>
            <a class="w3-bar-item w3-button" style="width:33%" href="deck2">BRAVO 2</a>
            <a class="w3-bar-item w3-button" style="width:33%" href="deck3">BRAVO 3</a>
        </div>
    </div>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-opennav w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="index" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
            <a href="index#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-book"></i> HISTÓRIA</a>
            <a href="index#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> DECK DE BATALHA</a>
            <a href="jogadores" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-group"></i> MEMBROS</a>
            <a href="index#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTATO</a>
            <a href="https://play.google.com/store/apps/details?id=com.supercell.clashroyale&hl=pt-BR" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right w3-hover-red">BAIXAR <img src="img\googleplay.png" alt="Trofeu" width="25" height="25"></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="index" class="w3-bar-item w3-button" onclick="toggleFunction()">HISTÓRIA</a>
            <a href="index#about" class="w3-bar-item w3-button" onclick="toggleFunction()">DECK DE BATALHA</a>
            <a href="jogadores" class="w3-bar-item w3-button" onclick="toggleFunction()">MEMBROS</a>
            <a href="index.#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTATO</a>
            <a href="https://play.google.com/store/apps/details?id=com.supercell.clashroyale&hl=pt-BR" target="_blank" class="w3-bar-item w3-button">BAIXAR</a>
        </div>
    </div>

    <!-- Photo grid -->
    <br><br>
    <h3 id="nomedeck" class="w3-center w3-grey"><b id="bomebatalhapreto">DECK DE BATALHA</b></h3>
    <div id="deck1" class="w3-row w3-min">
        <br>
        <div class="w3-quarter">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">SIR JOÃOZINHO</div>
            </div>
            <img src="img\decks\sirjoaozinho_cla2.jpeg" style="width:100%" onclick="onClick(this)" title="Clique para ampliar" alt="SIR JOÃOZINHO"><br><br><br><br>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Fechar"><i class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>



    <!-- Third Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min"></div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>TOPO</a>
        <div class="w3-xlarge w3-section">
            <a class="fa fa-facebook-official w3-hover-text-indigo" href="https://www.facebook.com/felipesales007" target="_blank"></a>
            <a class="fa fa-instagram w3-hover-text-purple" href="https://www.instagram.com/felipesales007/" target="_blank"></a>
            <a class="fa fa-linkedin w3-hover-text-indigo" href="https://www.linkedin.com/in/felipesales007" target="_blank"></a>
        </div>
        <p>Desenvolvido por <a class="w3-hover-text-green">Felipe Sales</a></p>
    </footer>

    <script>
        // Change style of navbar on scroll

        var navbar = document.getElementById("myNavbar");
        navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";


        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function w3_open() {
            document.getElementById("mySidenav").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidenav").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

</body>

</html>