<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Equipe Bravo</title>
</head>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/index.css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Cor da barra do navegador em celulares -->
<meta name="theme-color" content="#4b749d">
<meta name="apple-mobile-web-app-status-bar-style" content="#4b749d">
<meta name="msapplication-navbutton-color" content="#4b749d">

<!-- Icone do site nos navegadores -->
<link rel="icon" type="image/png" href="img/membro1.jpg">
<link rel="apple-touch-icon" sizes="76x76" href="img/membro1.jpg">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-opennav w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#home" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
            <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-book"></i> HISTÓRIA</a>
            <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> DECK DE BATALHA</a>
            <a href="jogadores.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-group"></i> MEMBROS</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTATO</a>
            <a href="https://play.google.com/store/apps/details?id=com.supercell.clashroyale&hl=pt-BR" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right w3-hover-red">BAIXAR <img src="img\googleplay.png" alt="Trofeu" width="25" height="25"></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">HISTÓRIA</a>
            <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">DECK DE BATALHA</a>
            <a href="jogadores.html" class="w3-bar-item w3-button" onclick="toggleFunction()">MEMBROS</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTATO</a>
            <a href="https://play.google.com/store/apps/details?id=com.supercell.clashroyale&hl=pt-BR" target="_blank" class="w3-bar-item w3-button">BAIXAR</a>
        </div>
    </div>

    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-xlarge w3-black w3-medium w3-wide w3-animate-opacity"><img src="img\trofeu.png" alt="Trofeu" width="37" height="37"><b> EQUIPE BRAVO </b><img src="img\trofeu.png" alt="Trofeu" width="37" height="37"></span>
        </div>
    </div>

    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center"><b>SOBRE A EQUIPE</b></h3>
        <p class="w3-center"><em>Breve história</em></em>
        </p>
        <p style="text-align:justify;">
            Equipe formada pelo Líder Felipe Sales, onde inicialmente criou o grupo com o foco de receber novos jogadores não muito fortes, mas que tinham grande vontade de crescer e se manter ativo no clã, lutando em grandes e vibrandes batalhas amistosas, elevando
            a cada carta jogada em arena de batalha uma grande e forte emoção que só quem é BRAVO de verdade pode sentir na veia e no coração, para com isso elevar o nível do clã a niveis jamais visto, rumo ao TOP 200 BR.
            <br>

        </p>
        <div class="w3-row">
            <hr>
            <p><b><center><i class="fa fa-group w3-margin-right"></i>NÓS SOMOS A EQUIPE BRAVO</center></b></p>
            <div class="w3-col m6 w3-hide-small w3-center w3-padding-large">
                <br>
                <iframe width="auto" height="256" src="https://www.youtube.com/embed/TJryIc0Cwy4" frameborder="0" allowfullscreen></iframe>
            </div>

            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-padding-large">

                <p style="text-align:justify;">
                    E você acha que a equipe parou por aí?<br> A Equipe Bravo cresceu, e já somos um clã de 3 niveis:
                    <ul class="lista_ponto">
                        <li><i class="fa fa-user w3-margin-right"></i>Equipe Bravo</li>
                        <li><i class="fa fa-user w3-margin-right"></i>Equipe Bravo 2</li>
                        <li><i class="fa fa-user w3-margin-right"></i>Equipe Bravo 3</li>
                    </ul>
                    Focando em vitórias que nos leva a grandes conquistas, fazendo o clã ser temido e amado por onde passa, deixando o seu rastro de conquistas.
                    <br> Não fique de fora, busque-nos no menu de pesquisa do jogo e entre para o clã mas ativo do Clash Royale.
                </p>
            </div>
        </div>
        <hr>
        <p class="w3-large w3-center w3-padding-16">Top 200 BR</p>
        <p class="w3-wide"><img src="img\trofeugold.png" alt="Trofeu" width="25" height="25"> Equipe Bravo</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:88%">88%</div>
        </div>
        <p class="w3-wide"><img src="img\trofeugold.png" alt="Trofeu" width="25" height="25"> Equipe Bravo 2</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:65%">65%</div>
        </div>
        <p class="w3-wide"><img src="img\trofeugold.png" alt="Trofeu" width="25" height="25"> Equipe Bravo 3</p>
        <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:43%">43%</div>
        </div>
    </div>

    <div class="w3-row w3-center w3-light-grey w3-padding-10">
        <div class="w3-quarter w3-hide-small w3-section">
            <img src="img\emoticon1.gif" alt="Trofeu" width="70" height="100">
        </div>
        <div class="w3-quarter w3-hide-small w3-section">
            <img src="img\emoticon2.gif" alt="Trofeu" width="70" height="100">
        </div>
        <div class="w3-quarter w3-hide-small w3-section">
            <img src="img\emoticon3.gif" alt="Trofeu" width="70" height="100">
        </div>
        <div class="w3-quarter w3-hide-small w3-section">
            <img src="img\emoticon4.gif" alt="Trofeu" width="70" height="100">
        </div>
    </div>

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-light-grey w3-wide"><b>LUTE</b></span>
        </div>
    </div>

    <!-- Container (Portfolio Section) -->
    <div class="w3-content w3-container w3-padding-64" id="portfolio">
        <h3 class="w3-center">DECK DE BATALHA</h3>
        <p class="w3-center" style="text-align:justify;"><em>A derrota é uma oportunidade para te levar a grandes vitórias.<br> Já pensou em mudar de deck?</em></p><br>

        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center w3-section">
            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">Felipe Sales</div>
                </div>
                <img src="img\decks\felipesales.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="Felipe Sales">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">Dct T</div>
                </div>
                <img src="img\decks\dctt.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="Dct T">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">MalucòÓ</div>
                </div>
                <img src="img\decks\malucoo.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="MalucòÓ">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">AJLúcifer</div>
                </div>
                <img src="img\decks\ajlucifer.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="AJLúcifer">
            </div>
        </div>

        <!-- -->

        <div class="w3-row-padding w3-center w3-section">
            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">Tarkar</div>
                </div>
                <img src="img\decks\tarkar.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="Tarkar">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">Vinisim7</div>
                </div>
                <img src="img\decks\vinisim7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="Vinisim7">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">SirIsaias</div>
                </div>
                <img src="img\decks\sirisaias.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="SirIsaias">
            </div>

            <div class="w3-col m3">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">KidBengala</div>
                </div>
                <img src="img\decks\kidbengala.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" title="Clique para ampliar" alt="KidBengala">
            </div>
            <form action="deck.html">
                <button class="w3-btn w3-light-grey w3-padding-xlarge" style="margin-top:64px">VISUALIZAR MAIS</button>
            </form>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Fechar"><i class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Third Parallax Image with Portfolio Text -->
    <div class="bgimg-3 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-light-grey w3-wide">CONTATO</span>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div class="w3-content w3-container w3-padding-64" id="contact">
        <h3 class="w3-center">GOSTOU DO MEU TRABALHO?</h3>
        <p class="w3-center"><em>Contate-me e tenha seu próprio site.</em></p>

        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
                <!-- Add Google Maps -->
                <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
            </div>
            <div class="w3-col m8 w3-container w3-section">
                <div class="w3-large w3-margin-bottom">
                    <h6><i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge"></i> Salvador, Bahia, Brasil<br>
                        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge"></i> Telefone: +55 71 99140-2371<br>
                        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge"></i> E-mail: felipesales007@hotmail.com<br></h6>
                </div>
                <p><i class="fa fa-coffee"></i> Quer conversar sobre trabalho?<br>
                    <i class="fa fa-warning"></i> Reportar algum erro?<br>
                    <i class="fa fa-address-book-o"></i> Contate-me:</p>

                <form action="email/enviar.php" method="post">
                    <input type="hidden" value="felipesales007@hotmail.com" name="meu_email">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Nome" required name="mensagem_nome">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="email" placeholder="E-mail" required name="mensagem_email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Mensagem" required name="mensagem_mensagem">
                    <button class="w3-btn w3-black w3-right w3-padding w3-section" type="submit" name="enviar">
                    <i class="fa fa-paper-plane"></i> ENVIAR MENSAGEM
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>TOPO</a>
        <div class="w3-xlarge w3-section">
            <a class="fa fa-facebook-official w3-hover-text-indigo" href="https://www.facebook.com/felipesales007" target="_blank"></a>
            <a class="fa fa-instagram w3-hover-text-purple" href="https://www.instagram.com/felipesales007/" target="_blank"></a>
            <a class="fa fa-linkedin w3-hover-text-indigo" href="https://www.linkedin.com/in/felipesales007" target="_blank"></a>
        </div>
        <p>Desenvolvido por <a class="w3-hover-text-green">Felipe Sales</a></p>
    </footer>

    <!-- Add Google Maps -->
    <script>
        function myMap() {
            myCenter = new google.maps.LatLng(-12.93172685, -38.44441295);
            var mapOptions = {
                center: myCenter,
                zoom: 12,
                scrollwheel: false,
                draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            var marker = new google.maps.Marker({
                position: myCenter,
            });
            marker.setMap(map);
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Change style of navbar on scroll
        window.onscroll = function() {
            myFunction()
        };

        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhGm54wZN66gyk9MdQF1xLs6RY-WGumRU&callback=myMap"></script>
    <!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>

</html>