@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

@media (max-width: 387px) {
    .visible-xs {
        font-size: 15.5px !important;
    }
}

@media (max-width: 380px) {
    .visible-xs, p {
        font-size: 11px !important;
    }
}

#ver{
    margin-top:77px;
}

#iver{
    width:80px;
}

#text-ver{
    color:#008000;
}

#user{
    margin-top:0.5%;
}

.scroll-ver {
  overflow-y: auto;
	overflow-x: hidden;
	height: 250px;
}

#bar-user{
    overflow-y: auto !important;
	overflow-x: hidden !important;
	height: 125px !important;
}

.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em !important;
    font-weight: 700 !important;
    color:#6c6c6c;
}

.date{
    color:#6c6c6c !important;
    float:right !important;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.5em;
}