/* Style the tab */
div.tab {
    margin-top:50px;
    height:74px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
    height:74px;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    height:74px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}

#contador {
    font-family:Courier, monospace !important;
    background-color:#ffffff !important;
    color: #808080 !important;
    float:right !important;
    margin:25px 28px !important;
    font-weight: bold !important;
    border: 1px solid #c0c0c0 !important;
    width:46px !important;
    height:20px !important;
    border-radius: 45px !important;
}

#contador-n {
    font-family:Courier, monospace !important;
    color: #808080 !important;
    float:right !important;
    margin:25px -55px !important;
    font-weight: bold !important;
    width:48px !important;
    height:20px !important;
}