#nivel_curso:hover {
    color: dodgerblue;
}


/* EFEITO 3D */

.carta-corpo {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

.carta-corpo:not(.manual-flip):hover .carta,
.carta-corpo.hover.manual-flip .carta {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.carta-corpo.static:hover .carta,
.carta-corpo.static.hover .carta {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

.carta {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.carta-frente,
.carta-fundo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.carta-frente {
    z-index: 2;
}

.carta-fundo {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    z-index: 3;
}

.carta-fundo {
    position: absolute;
    left: 0;
    bottom: 4px;
}


/* STYLE */

.carta {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.carta-corpo,
.carta-frente,
.carta-fundo {
    width: 100%;
    height: 420px;
    border-radius: 4px;
}

.carta .carta-capa {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.carta .carta-capa img {
    width: 100%;
}

.carta .carta-user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

.carta .carta-user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.carta .carta-texto {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.carta .carta-texto .carta-descricao {
    min-height: 160px;
}

.carta .carta-fundo .carta-texto .carta-descricao {
    height: 215px;
}

.carta .carta-nome {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}

.carta h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.carta .carta-tipo {
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}

.carta-sobre {
    text-align: center;
}

.carta .carta-rodape {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

.carta .carta-rodape .social-links {
    font-size: 18px;
}

.carta .carta-rodape .social-links a {
    margin: 0 7px;
    color: red;
}

.carta .carta-rodape .btn-simple {
    margin-top: -6px;
}

.carta .carta-fundo-topo {
    padding: 15px 20px;
    height: 90px;
}

.carta .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.carta .carta-fundo-aulas {
    width: 100%;
    margin-top: 50px;
}

.carta .carta-fundo-aula-link {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.carta .carta-fundo-aula-link:first-child {
    border-right: 1px solid #EEEEEE;
}

.carta .carta-fundo-aula-link:last-child {
    border-left: 1px solid #EEEEEE;
}

.carta .carta-fundo-aula-link h4 {
    font-weight: 300;
    margin-bottom: 5px;
}

.carta .carta-fundo-aula-link p {
    color: #777777;
}


/* TEXTO DE APRESENTAÇÃO */

.titulo-cartas {
    color: #506A85;
    text-align: center;
    margin-top: 20px;
    font-size: 215%;
}

.sub-titulo-cartas {
    color: #999;
    text-align: center;
    margin-top: -3px;
    font-size: 87%;
    text-transform: uppercase;
}

.space-30 {
    height: 30px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-200 {
    height: 200px;
    display: block;
}

.white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}

.ct-heart {
    color: #F74933;
}

pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.atv,
.str {
    color: #05AE0E;
}

.tag,
.pln,
.kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}

.btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}

.btn-simple i {
    font-size: 16px;
}

.navbar-brand-logo {
    padding: 0;
}

.navbar-brand-logo .logo {
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}

.navbar .navbar-brand-logo .brand {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.navbar-default .navbar-brand-logo .brand {
    color: #555;
}


/* CORREÇÃO PARA EXPLORER */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .carta-frente,
    .carta-fundo {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }
    .carta-fundo {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
    }
    .carta-frente {
        z-index: 4;
    }
    .carta-corpo:not(.manual-flip):hover .carta-fundo,
    .carta-corpo.manual-flip.hover .carta-fundo {
        z-index: 5;
        visibility: visible;
    }
}