#btn_menu {
    color: rgba(255, 255, 255, 0.91);
}

#mensagem_fechar {
    margin-right: 3px;
    margin-top: -80px;
    color: red;
    transition: 0.7s;
}

#mensagem_fechar:hover {
    margin-right: 3px;
    margin-top: -80px;
    color: #9F0303;
    transition: 0.7s;
}

#contato_fechar {
    margin-right: 3px;
    margin-top: -30px;
    color: red;
    transition: 0.7s;
}

#contato_fechar:hover {
    margin-right: 3px;
    margin-top: -30px;
    color: #9F0303;
    transition: 0.7s;
}

#i_mensagem:hover {
    cursor: pointer;
    color: rgba(0, 162, 255, 0.47);
    transition: 0.5s;
}

.i_clicado_email {
    color: rgba(0, 162, 255, 0.47);
    transition: 0.5s;
}

.i_clicado_whats {
    color: rgba(0, 162, 255, 0.47);
    transition: 0.5s;
}

.popover {
    margin-left: 11px !important;
}

.modal {
    padding-top: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

#git_color {
    color: #808080;
}

#facebook_color {
    color: #4867aa;
}

#linkedin_color {
    color: #0077b5;
}

#instagram_color {
    color: #de5e51;
}

#youtube_color {
    color: #de2825;
}

#whatsapp_color {
    color: #4ac85a;
}

#envelope_color {
    color: #ccc5b5
}


/* BARRA DE ROLAGEM NO EXPLORER */

body {
    scrollbar-arrow-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-highlight-color: #9c27b0;
    scrollbar-face-color: #9c27b0;
    scrollbar-shadow-color: #c859db;
    scrollbar-darkshadow-color: #9c27b0;
    scrollbar-track-color: #c9c9c9;
}


/* LARGURA DA BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 10px;
}


/* FUNDO DA BARRA DE ROLAGEM */

::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC;
}


/* COR DO INDICADOR DE ROLAGEM */

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #9c27b0;
}


/* COR DO INDICADOR DE ROLAGEM AO PASSAR O MOUSE */

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #c078cd;
}