#googleMap {
    width: 100%;
    height: 150px;
}

.pull-left {
    cursor: pointer;
}

#nao_link {
    text-decoration: none;
    transition: 0.5s;
}

#subir {
    transition: 0.8s;
}

#subir:hover {
    background-color: #d98437;
    transition: 0.8s;
}

#dog {
    position: relative;
    cursor: pointer;
    right: 242px;
    bottom: -43px;
    width: 200;
    z-index: 1;
}

.late1,
.late2 {
    cursor: pointer;
}

@media screen and (max-width: 705px) {
    #dog {
        position: relative;
        right: 210px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}

@media screen and (max-width: 705px) {
    #dog {
        position: relative;
        right: 180px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}

@media screen and (max-width: 580px) {
    #dog {
        position: relative;
        right: 150px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}

@media screen and (max-width: 520px) {
    #dog {
        position: relative;
        right: 100px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}

@media screen and (max-width: 420px) {
    #dog {
        position: relative;
        right: 50px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}

@media screen and (max-width: 320px) {
    #dog {
        position: relative;
        right: 35px;
        bottom: -42px;
        width: 200;
        z-index: 1;
    }
}