@media screen and (max-width: 991px) {
    .card-carousel {
        margin-left: -58px;
    }
    #btn_equipe_bravo {
        margin-left: 8px;
    }
}

@media screen and (max-width: 990px) {
    .card-carousel {
        margin-left: -58px;
    }
    #btn_equipe_bravo {
        margin-left: 8px;
    }
}

@media screen and (max-width: 840px) {
    .card-carousel {
        margin-left: -63px;
    }
    #btn_equipe_bravo {
        margin-left: 5px;
    }
}

@media screen and (max-width: 820px) {
    .card-carousel {
        margin-left: -55px;
    }
    #btn_equipe_bravo {
        margin-left: -0px;
    }
}

@media screen and (max-width: 810px) {
    .card-carousel {
        margin-left: -60px;
    }
    #btn_equipe_bravo {
        margin-left: -1px;
    }
}

@media screen and (max-width: 801px) {
    .card-carousel {
        margin-left: -78px;
    }
    #btn_equipe_bravo {
        margin-left: -15px;
    }
}

@media screen and (max-width: 790px) {
    .card-carousel {
        margin-left: -87px;
    }
    #btn_equipe_bravo {
        margin-left: -20px;
    }
}

@media screen and (max-width: 770px) {
    .card-carousel {
        margin-left: -100px;
    }
    #btn_equipe_bravo {
        margin-left: -35px;
    }
}

@media screen and (max-width: 768px) {
    .card-carousel {
        margin-left: -60px;
    }
    #btn_equipe_bravo {
        margin-left: 5px;
    }
}

@media screen and (max-width: 767px) {
    .card-carousel {
        margin-left: 0;
    }
}